---
---
body {
    margin: 60px auto;
    width: 70%;
	background-image: url('/image/header_image.png');
}
nav ul, footer ul {
    font-family:'TrebuchetMS', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
li {
    font-size: 1.0em;
    color: #333;
    font-family:'Verdana', 'Calibri', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: #99c;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.2em;
    font-family:'TrebuchetMS', 'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: bold;
}
h2 {
    font-size: 1.2em;
    font-family:'TrebuchetMS', 'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: bold;
	font-style: italic;
}
h3 {
    font-size: 1.2em;
    font-family:'TrebuchetMS', 'Helvetica', 'Arial', 'Sans-Serif';
    color: #003;
}
p {
    font-size: 1.0em;
    color: #333;
    font-family:'Verdana', 'Calibri', 'Arial', 'Sans-Serif';

}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .6em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.0em;
}

ul.posts li {
    list-style: none;
}
