<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/interests">Interests</a></li>
	        		<li><a href="/courses">Courses</a></li>
		        	<li><a href="/about">Personal</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:profhuster@gmail.com">email</a></li>
	        		<li><a href="https://github.com/profhuster">github.com/profhuster</a></li>
				</ul>
			</footer>
		</body>
	</html>
